/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.portfolio-item {
	position:relative;
	height:200px;
	overflow:hidden;
	}

.portfolio-item:hover .front  {
	transform:rotateY(180deg);
	
}
.portfolio-item:hover .back {
	transform:rotateY(0deg);
}

.front{
	top:0;
	left:0;
	position:absolute;
	z-index: 1;
	backface-visibility:hidden; 
	transition: transform 3s;


}
.back {
	top: 0;
	left: 0;
	position:relative;
	transform:rotateY(180deg);
	transition: transform 3s;

}

